.login-form {
  width: fit-content;
  margin: 0 auto;
}

.login-form > * {
  display: block;
}

.login-form > input {
  width: 250px;
}

.login-form > button {
  margin-top: 1.5em;
  margin-bottom: 10px;
}

.login-form > button:hover {
  background-color: rgb(240, 240, 240);
}
